body {
    background-color: lightcoral;
    font: normal 15pt Arial;

}

header {
    color: white;
    text-align: center;

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 30px 10px 10px rgba(0, 0, 0, 0.36);
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}

div {
    text-align: center;
    padding: 10px;
}
div#butao {
    background-color: white;
    border-radius: 10px;
    margin:10px auto;
    width: 500px;
    font: bold 100% Arial ;
    color: black;
    box-shadow: 30px 10px 10px rgba(0, 0, 0, 0.453);

}